.loader
{
  position: fixed;
  z-index: 10000;
}
.loader:before{
  content:"";
  position:absolute;
  background:#091921;
  width: 100vw;
  height: 100vh;
}
.loader.complete{
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}
/* box moving preloader start */
#loader
{
  z-index: inherit;
  position: absolute;
  top:30vh;
  left:30vw;
  width: 100px;
  height: 100px;
  background: red;
  position: relative;
  animation-name: boxs;
  animation-duration: 4s;
  animation-delay: 2s;
  animation-iteration-count: 2;
  border: 2px solid black;
  }
@keyframes boxs
{
  0%{
    background: red;
    left:30vw;
    top:30vh;
  }
  25%{
    background: yellow;
    left: 50vw;
    top:30vh;
  }
  50%{
    background: green;
    left: 50vw;
    top: 50vh;
  }
  75%{
    background: blue;
    top:50vh;
    left:30vw;
  }
  100%{
    background: red;
    left:30vw;
    top:30vh;
  }
}
/* preloader ends here */
/* line progress bar preloader */
#loader2{
   position: absolute;
   top: 50vh;
   left:30vw;
   height:4px;
   animation-name: line;
   animation-delay: 1s;
   animation-duration: 3s;
   animation-iteration-count: 2;
}
#loader2 p{
  font-size: 40px;
  position: relative;
  top:-15vh;
  /* position: absolute;
  top:45vh;
  left: 30vw; */
}
@keyframes line{
  0%{
    background:white;
    width: 0vw;
  }
  25%{
    width:5vw;
    background:red;
  }
  50%{width:10vw;
    background: aqua;
  }
  75%{width:15vw;
    background: green;
  }
  100%{width: 20vw;
    background: greenyellow;
  }
}

body,html
{ height: 100%;
  overflow: hidden;
  color: whitesmoke;
}
body
{
background-image:url("pattern1.jpg");
background-position: center;
background-repeat:replace;
background-size: cover;
position: relative;
}
ul{
float: right;
list-style-type: none;
margin-top:25px;
}
ul li{
display: inline-block;}
ul li a{
text-decoration: none;
color: #fff;
padding: 5px 20px;
border: 1px solid #fff;
transition: 0.6s ease;
}
ul li a:hover{
 background-color: #fff;
 color: #000;
}
.main{
max-width: 1200px;
position: absolute;
top: 0;
right: 0;
margin: auto;}
ul li.active a{
 background-color: #fff;
 color: #000;
}
.btt{
position: relative;
top:15%;
left:10%;
font-size:60px;
} 
body {margin:0;height:2000px;}

.icon-bar {
  z-index: 1;
  position: fixed;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.icon-bar a {
  display: block;
  text-align: center;
  padding: 16px;
  transition: all 0.3s ease;
  color: white;
  font-size: 20px;
}

.icon-bar a:hover {
  background-color: #000;
}

.facebook {
  background: #3B5998;
  color: white;
}

.twitter {
  background: #55ACEE;
  color: white;
}

.google {
  background: #dd4b39;
  color: white;
}

.linkedin {
  background: #007bb5;
  color: white;
}

.youtube {
  background: #bb0000;
  color: white;
}

.content {
  margin-left: 75px;
  font-size: 30px;
}
.btn {
  border: none;
  color: white;
  padding:14px 28px ;
  font-size: 12px;
  cursor: pointer;
}
.term{
position: absolute;
top:30%;
left:30%;
font-size:60px;
}

.one {background-color: #2196F3;}
.one:hover {background: #0b7dda;}

.two {background-color: #ff9800;} 
.two:hover {background: #e68a00;}

.three {background-color: #f44336;} 
.three:hover {background: #da190b;}

.four {background-color: #e7e7e7; color: black;} 
.four:hover {background: #ddd;}